<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ovusamuel.code_clan_rich_text_and_botton">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
